<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= username %>></title>
</head>
<body>
    <h1>Hello <%= username %></h1>
    <a href="/account/logout">Logout</a>
    <br>
    <a href="/item/add">Add Item</a>
</body>
</html>
