<html>
<head>
    <title>Home Page | Trade Ark</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
    <header id="main-header">Trade Ark</header>
    
    <nav id="navbar">
        <div>
            <a href="/">Home</a>
            <% if (loggedin) { %>
                <a href="/item/add">Add Item</a>
                <a href="/cart">Cart</a>
                <a href="/account">My Account</a>
                <a href="/account/logout">Logout</a>
            <% } else { %>
                <a href="/account/register">Register</a>
                <a href="/account/login">Login</a>
            <% } %>
        </div>
    </nav>

    <div id="items_for_sale" style="text-align: center;">

    </div>
    
    
    <script>
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/item/range?id_start=1&id_end=10");
        //xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send();

        xhr.onload = function () {
            let item_display = document.getElementById("items_for_sale");
            let items = JSON.parse(xhr.response);
            console.log(items);
            for (let i=0; i<items.length; i++) {
                let anchor = document.createElement("a");
                anchor.href = `/item?item_id=${items[i].item_id}`;
                anchor.innerText = items[i].item_name;
                item_display.append(anchor);
                item_display.append(document.createElement("br"));
            }
        }
    </script>
</body>
</html>