<html>
<head>
    <title>Add Item | Trade Ark</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
    <script type="text/javascript" src="/public/submit.js"></script>
</head>
<body>
    <header id="main-header">Trade Ark</header>
    
    <nav id="navbar">
        <div>
            <a href="/">Home</a>
            <% if (loggedin) { %>
                <a href="/item/add">Add Item</a>
                <a href="/cart">Cart</a>
                <a href="/account">My Account</a>
                <a href="/account/logout">Logout</a>
            <% } else { %>
                <a href="/account/register">Register</a>
                <a href="/account/login">Login</a>
            <% } %>
        </div>
    </nav>

    <div style="text-align: center;">
        <p>Item Name:</p>
        <p id="item_name_error"></p>
        <input type="text" name="required_input" id="item_name">
        <br>

        <p>Item Description:</p>
        <p id="item_description_error"></p>
        <textarea type="text" name="required_input" id="item_description"></textarea>
        <br>

        <p>Item Price:</p>
        <p id="item_price_error"></p>
        <input type="number" name="required_input" id="item_price">
        <br>

        <p>Upload Thumbnail</p>
        <p id="item_thumbnail_input_error"></p>
        <input type="file" accept="image/*" id="item_thumbnail" onchange="loadThumbnail()" name="file_input">
        <br>

        <p>Upload Picture(s)</p>
        <p id="item_pictures_input_error"></p>
        <input type="file" accept="image/*" id="item_pictures" onchange="loadItemImages()" name="file_input" multiple>
        <br>

        <p>Uploaded Thumbnail:</p>
        <img id="item_thumbnail_display" style="height: 125px;">

        <p>Uploaded Pictures:</p>
        <div id="item_pictures_display">

        </div>

        <script>
            function loadThumbnail() {
                let picture = document.getElementById("item_thumbnail").files[0];
                document.getElementById("item_thumbnail_display").src = URL.createObjectURL(picture);
            }
            function loadItemImages() {
                let div = document.getElementById('item_pictures_display');
                let pictures = document.getElementById("item_pictures").files;
                for (let i=0; i<pictures.length; i++) {
                    let pic = document.createElement("img");
                    pic.src = URL.createObjectURL(pictures[i]);
                    pic.style = "height: 250px";
                    div.append(pic);
                    div.append(document.createElement("br"));
                    div.append(document.createElement("br"));
                }
            }
        </script>
    
        <p id="response"></p>
        <button form="" onclick="submit('/item/add', function (xhr) {
            document.getElementById('response').innerText = 'Uploading item, please wait...'; 
            if (xhr.status === 200) {
                document.getElementById('response').innerText = ''; 
                window.location.href = xhr.response;
            }
            else {
                document.getElementById('response').innerText = xhr.response;
            }
        })">Upload</button>
    </div>
</body>
</html>