<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
    <script type="text/javascript" src="/public/submit.js"></script>
</head>
<body>
<form>
    <p>Item Name:</p>
    <p id="item_name_error"></p>
    <input type="text" name="required_input" id="item_name">
    <br>

    <p>Item Description:</p>
    <p id="item_description_error"></p>
    <input type="text" name="required_input" id="item_description">
    <br>

    <p>Item Price:</p>
    <p id="item_price_error"></p>
    <input type="number" name="required_input" id="item_price">
    <br>

    <p>Upload Thumbnail</p>
    <p id="item_thumbnail_input_error"></p>
    <input type="file" accept="image/*" id="item_thumbnail" onchange="loadThumbnail()" name="file_input" required>
    <br>

    <p>Upload Picture(s)</p>
    <p id="item_pictures_input_error"></p>
    <input type="file" accept="image/*" id="item_pictures" onchange="loadItemImages()" name="file_input" multiple>
    <br>

    <img id="item_thumbnail_display">

    <div id="item_pictures_display">

    </div>

    <img id="picture_display"  width="200"/>
    <script>
        function loadThumbnail() {
            let picture = document.getElementById("item_thumbnail").files[0];
            document.getElementById("item_thumbnail_display").src = URL.createObjectURL(picture);
        }

        function loadItemImages() {
            let div = document.getElementById('item_pictures_display');
            let pictures = document.getElementById("item_pictures").files;
            for (let i=0; i<pictures.length; i++) {
                let pic = document.createElement("img");
                pic.src = URL.createObjectURL(pictures[i]);
                div.append(pic);
            }
        }
    </script>

    <br>

    <p id="response"></p>
    <button form="" onclick="submit('/item/add', function (xhr) {
        if (xhr.status === 200) {
            window.location.href = xhr.response;
        }
        else {
            document.getElementById('response').innerText = xhr.response;
        }
    })">Upload</button>

</form>
</body>
</html>