<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script type="text/javascript" src="/public/submit.js"></script>
</head>
<body>
<form>
    <p>Username:</p>
    <p id="username_error"></p>
    <input type="text" name="required_input" id="username">
    <br>

    <p>Email:</p>
    <p id="email_error"></p>
    <input type="text" name="required_input" id="email">
    <br>

    <p>Password:</p>
    <p id="password_error"></p>
    <input type="password" name="required_input" id="password">
    <br>

    <br>

    <p id="response"></p>
    <button form="" onclick="submit('/account/register', function (xhr) {
            if (xhr.status === 200) {
                window.location.href = '/account/login';
            } else if (xhr.response === 'already logged in') {
                window.location.href = '/account/logout';
            } else {
                document.getElementById('response').innerText = xhr.response;
            }
    })">Register</button>
</form>
</body>
</html>